.contact nav ul li a::after {
  background: #ffcc00;
}

.contact footer {
  margin-top: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.contactImgBox {
  background-image: url(/contact_form_img.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
}

.contactContent {
  flex: 1;
  align-self: center;
}

.contactHeader {
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
  color: #000;
  text-align: center;
}

header h1 {
  padding-bottom: 10px;
}

.nameContactBox {
  display: flex;
  justify-content: center;
}

.marginLeft {
  margin-left: 10px;
}

.contactInfo,
.contactForm,
.officeHours,
.socialMedia {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  margin-bottom: 20px;
  border-radius: 15px;
}

.contactInfo h2,
.contactForm h2,
.officeHours h2,
.socialMedia h2 {
  margin-top: 0;
}

/* .contactForm {
  background: transparent;
  background-image: url(./contact-form-img.jpg);
  background-size: cover;
  background-position: center;
  color: #000;
} */

.contactForm label,
.contactForm input,
.contactForm textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="number"],
.contactForm input[type="submit"],
.contactForm textarea {
  padding: 10px;
  background: transparent;
  border: 1px solid #000;
  color: #000;
}

.contactForm input[type="text"]:focus,
.contactForm input[type="email"]:focus,
.contactForm input[type="number"]:focus,
.contactForm input[type="submit"]:focus,
.contactForm textarea:focus {
  background: #fff;
}

.contactForm input[type="number"]::-webkit-inner-spin-button,
.contactForm input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactForm input[type="submit"] {
  background: #333;
  color: #fff;
  cursor: pointer;
}

.contactForm input::placeholder {
  color: #000;
}

.contactForm textarea::placeholder {
  color: #000;
}

.contactForm input[type="submit"]:hover {
  background: #555;
}

.Email {
  max-width: 365px;
  margin: auto;
}

.messageBox {
  max-width: 365px;
  margin: auto;
}
.sendButtonBox {
  text-align: center;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.socialMedia ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.socialMedia ul li {
  display: inline;
  margin-right: 10px;
  font-size: 50px;
  cursor: pointer;
}

.socialMedia ul li a {
  text-decoration: none;
  color: #333;
}

.socialMedia ul li a:hover {
  text-decoration: underline;
}

.sendButton {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  animation: rippleEffect 0.6s linear;
}

@keyframes rippleEffect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  /* .nameContactBox {
    display: block;
  } */

  .contactImgBox {
    background-image: none;
    display: none;
  }
}
