.products nav ul li a::after {
  background: #ffcc00;
}

.products footer {
  margin-top: 60px;
}

.container {
  width: 100%;
  height: 70vh;
  margin: auto;
  position: relative;
  margin-top: 60px;
}

.nameStyle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #000;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.transition {
  opacity: 0;
}

.leftArrowStyle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  color: #333;
  font-size: 45px;
}

.rightArrowStyle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  color: #333;
  font-size: 45px;
  transition: 1s;
  right: 0;
}

.dotStylesContainer {
  display: flex;
  justify-content: center;
}

.dotStyles {
  margin: 0 3px;
  font-size: 35px;
  cursor: pointer;
  color: #99ffff;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 100px;
}

.cardBox {
  max-width: 300px;
  justify-self: center;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #000;
  border-radius: 15px;
  /* box-shadow: 5px 5px 20px dodgerblue; */
}

.cardImage {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  flex: 1;
}

.cardImage img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  vertical-align: bottom;
}

.productContent {
  text-align: center;
  flex: 1;
}

.productText {
  max-width: 400px;
  margin: auto;
}

@media (max-width: 768px) {
  .products footer {
    margin-top: 75px;
  }
}

@media (max-width: 425px) {
  .heroText h2 {
    font-size: 3.2em;
  }

  .text {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .dotStyles {
    font-size: 25px;
  }
}
